<div>
    <a ng-click="showSettings()">Settings Dialog</a>

   <h1>Books</h1>
    <ul>
      <li id="item_{{book.Id}}" ng-repeat="book in books" context="bookContextMenu" ng-click="showEditor(book)">{{book.Name+" ("+book.Id+")"}}</li>
  </ul>
     <button ng-click="NewBook()" ng-disabled="books.length>5" tooltip="After 5 books, New Book will be disabled" tooltip-placement="right">New Book</button>


    <ul id="bookContextMenu" class="dropdown-menu">
        <li><a ng-click="hello(book)">Hello</a></li>
        <li><a ng-click="delete(book)">Delete</a></li>
    </ul>
</div>
